.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 30px;
}

.screen-header__title {
  font-size: 26px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__notice {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  left: 23px;
  bottom: 20px;
}
